{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des animaux</h1>

    <a class="btn btn-info ajouter" href="{{ path('app_animal_new') }}"><i class="bi bi-plus-circle"></i> Ajouter</a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Espèce</th>
                {# <th>Genre</th> #}
                <th>Age</th>
                {# <th>Sociable avec les enfants ?</th>
                <th>Sociable avec autres animaux ?</th>
                <th>Besoin d'un jardin ?</th> #}
                <th>Status</th>
                <th>Description</th>
                <th>Association</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td><img class="img_backoffice_index" src={% if 'http' in animal.imageName %}"{{ animal.imageName }}"{% else %}"{{ asset('images/animaux/')}}{{ animal.imageName }}"{% endif %}></td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.species.name }}</td>
                {# <td>{% if animal.gender == '0' %} Femelle{% elseif animal.gender == '1' %} Male{% endif %}</td> #}
                <td>{{ animal.age }}</td>
                {# <td>{{ animal.childCompatibility ? 'Oui' : 'Non' }}</td>
                <td>{{ animal.otherAnimalCompatibility ? 'Oui' : 'Non' }}</td>
                <td>{{ animal.gardenNeeded ? 'Oui' : 'Non' }}</td> #}
                <td>{% if animal.status == '0' %} Disponible{% elseif animal.status == '1' %} Resa en cours{% elseif animal.status == '2' %} Indisponible{% elseif animal.status == '3' %} Adopté{% endif %}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.association.name }}</td>
                <td><a class="btn btn-sm btn-warning" href="{{ path('app_animal_show', {'id': animal.id}) }}"><i class="bi bi-zoom-in"></i></a></td>
                <td><a class="btn btn-sm btn-success" href="{{ path('app_animal_edit', {'id': animal.id}) }}"><i class="bi bi-pencil"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
