{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des animaux</h1>

    <a href="{{ path('app_animal_new') }}">Ajouter</a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Photo</th>
                <th>Age</th>
                <th>Sociable avec les enfants ?</th>
                <th>Sociable avec autres animaux ?</th>
                <th>Besoin d'un jardin ?</th>
                <th>Status</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.name }}</td>
                <td>{% if animal.gender == '0' %} Femelle{% elseif animal.gender == '1' %} Male{% endif %}</td>
                <td><img class="img_backoffice_index" src={% if 'http' in animal.imageName %}"{{ animal.imageName }}"{% else %}"{{ asset('images/animaux/')}}{{ animal.imageName }}"{% endif %}></td>
                {# <td><img class="img_backoffice_index" src={% if '/*https*/' in animal.imageName %}"{{ animal.imageName }}"{% endif %}></td> #}
                {# <td><img class="img_backoffice_index" src="{{ asset('images/animaux/')}}{{ animal.imageName }}"></td> {% if '/services/' in url %} #}
                <td>{{ animal.age }}</td>
                <td>{{ animal.childCompatibility ? 'Oui' : 'Non' }}</td>
                <td>{{ animal.otherAnimalCompatibility ? 'Oui' : 'Non' }}</td>
                <td>{{ animal.gardenNeeded ? 'Oui' : 'Non' }}</td>
                <td>{% if animal.status == '0' %} Disponible{% elseif animal.status == '1' %} Resa en cours{% elseif animal.status == '2' %} Indisponible{% elseif animal.status == '3' %} Adopté{% endif %}</td>
                <td>{{ animal.description }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">Voir plus</a>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
