{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des animaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Photo</th>
                <th>Age</th>
                <th>Sociable avec les enfants ?</th>
                <th>Sociable avec autres animaux ?</th>
                <th>Besoin d'un jardin ?</th>
                <th>Status</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.gender }}</td>
                <td><img class="img_backoffice_index" src="{{ animal.picture }}"></td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.childCompatibility }}</td>
                <td>{{ animal.otherAnimalCompatibility }}</td>
                <td>{{ animal.gardenNeeded }}</td>
                <td>{{ animal.status }}</td>
                <td>{{ animal.description }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">Voir plus</a>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}">Ajouter</a>
    </div>
{% endblock %}
