{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
<div class="container">
<div class="d-flex p-2 bd-highlight">

    <div class="picture">
    <h1>Fiche de {{animal.name}}</h1>

        <img class="img_backoffice_show" src={% if 'http' in animal.imageName %}"{{ animal.imageName }}"{% else %}"{{ asset('images/animaux/')}}{{ animal.imageName }}"{% endif %}>
         
        <h3>Description</h3>
        <span>{{ animal.description }}</span>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Espèce animale</th>
                <td>{{ animal.species.name }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{% if animal.gender == '0' %} Femelle{% elseif animal.gender == '1' %} Male{% endif %}</td>
            </tr>
            {# <tr>
                <th>Photo</th>
                <td><img class="img_backoffice_show" src="{{ asset('images/animaux/')}}{{ animal.imageName }}"></td>
            </tr> #}
            <tr>
                <th>Age</th>
                <td>{{ animal.age }}</td>
            </tr>
            <tr>
                <th>Sociable avec les enfants ?</th>
                <td>{{ animal.childCompatibility ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Sociable avec autres animaux ?</th>
                <td>{{ animal.otherAnimalCompatibility ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Besoin d'un jardin ?</th>
                <td>{{ animal.gardenNeeded ? 'Oui' : 'Non'}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if animal.status == '0' %} Disponible{% elseif animal.status == '1' %} Resa en cours{% elseif animal.status == '2' %} Indisponible{% elseif animal.status == '3' %} Adopté{% endif %}</td>
            </tr>
            {# <tr>
                <th>Description</th>
                <td>{{ animal.description }}</td>
            </tr> #}
                        <tr>
                <th>Association</th>
                <td>{{ animal.association.name }}</td>
            </tr>
                        <tr>
                <th>Département d'accueil</th>
                <td>{{ animal.department.name }}</td>
            </tr>

        </tbody>
    </table>
    </div>

    <div>
        
        <a class="btn btn-secondary" href="{{ path('app_animal_index') }}">Retour à la liste</a>

        <a class="btn btn-warning" href="{{ path('app_animal_edit', {'id': animal.id}) }}">Mettre à jour</a>

        <p>{{ include('back/animal/_delete_form.html.twig') }}</p>

    </div>

</div>
{% endblock %}
