{% extends 'base.html.twig' %}

{% block title %}Species index{% endblock %}

{% block body %}
<div class="container  w-25 mx-auto">

    <h1>Index des espèces</h1>

    <a class="btn btn-info ajouter" href="{{ path('app_species_new') }}">Ajouter</a>


    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Espèces</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for species in species %}
            <tr>
                <td>{{ species.id }}</td>
                <td>{{ species.name }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_species_show', {'id': species.id}) }}">Afficher</a>
                    <a class="btn btn-sm btn-success" href="{{ path('app_species_edit', {'id': species.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
