{% extends 'base.html.twig' %}

{% block title %}Species index{% endblock %}

{% block body %}
<div class="container">
    <h1>Index des espèces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for species in species %}
            <tr>
                <td>{{ species.id }}</td>
                <td>{{ species.name }}</td>
                <td>
                    <a href="{{ path('app_species_show', {'id': species.id}) }}">Voir plus</a>
                    <a href="{{ path('app_species_edit', {'id': species.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_species_new') }}">Ajouter</a>
    </div>
{% endblock %}
