{% extends 'base.html.twig' %}

{% block title %}Liste des Associations{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Associations</h1>

    <a class="btn btn-info ajouter" href="{{ path('app_association_new') }}"><i class="bi bi-plus-circle"></i> Ajouter</a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                {# <th>Description</th>
                <th>Siren</th> #}
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>Statut</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.name }}</td>
                {# <td>{{ association.description }}</td> #}
                {# <td>{{ association.siren }}</td> #}
                <td>{{ association.street }}</td>
                <td>{{ association.zipCode }}</td>
                <td>{{ association.city }}</td>
                <td>{{ association.phoneNumber }}</td>
                <td>{{ association.email }}</td>
                <td>{{ association.active ? 'Actif' : 'Inactif' }}</td>
                <td><a  class="btn btn-sm btn-warning" href="{{ path('app_association_show', {'id': association.id}) }}"><i class="bi bi-zoom-in"></i></a></td>
                <td><a class="btn btn-sm btn-success" href="{{ path('app_association_edit', {'id': association.id}) }}"><i class="bi bi-pencil"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
