{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des utilisateurs</h1>
    
    <a class="btn btn-info" href="{{ path('app_back_user_new') }}">Ajouter</a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                {# <th>Mot de passe</th> #}
                <th>Status</th>
                <th>Rôle</th>
                <th>Association</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.password }}</td> #}
                <td>{{ user.active ? 'Actif' : 'Inactif' }}</td>
                {# <td>{{ user.roles|join(', ') }}</td> #}
                <td>{{ user.roles|join(', ') }}</td>
                <td>{{ user.association|join(', ') }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_back_user_show', {'id': user.id}) }}">Voir plus</a>
                    <a class="btn btn-sm btn-success" href="{{ path('app_back_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
