<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Our custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block nav %}
        <header>
            <nav class='navbar hide-nav'>
                <img class="navbar__logo" src="" alt="" />
                <h5 class="navbar__title">Boules de poil</h5>
                <ul class="navbar__links">
        {% if app.user %}
                    <li class="navbar__item slideInDown-1">
                    <a href="{{ path('app_animal_index') }}" class="navbar__link">
                        Animaux
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="navbar__item slideInDown-2 ">
                    <a href="{{ path('app_association_index') }}" class="navbar__link">
                        Associations
                    </a>
                    </li>
                    <li class="navbar__item slideInDown-3">
                    <a href="{{ path('app_species_index') }}" class="navbar__link">
                        Espèces
                    </a>
                    </li>
                    <li class="navbar__item slideInDown-4">
                    <a href="{{ path('app_back_user_index') }}" class="navbar__link">
                        Utilisateurs
                    </a>
                    </li>
                    {% endif %}
                    <li class="navbar__item slideInDown-4">
                    <a href="{{ path('app_logout') }}" class="navbar__link">
                        Déconnexion
                    </a>
                    </li>
                </ul>
                {% else %}
                <a href="{{ path('app_login') }}" class="navbar__link">Connexion</a>
        
            {% endif %}
            </nav>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
